main.main-app {
    background-image: url(../img/skate-img1.jpg);
    background-size: cover;
    .titulo-grande {
        text-align: center;
    }
    /* .imagen-descarga {
        text-align: center;
    } */
    section#app-movil {
        display: grid;
        align-items: center;
        gap: 1rem;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        .texto-izquierdo {
            text-align: right;
        }
        .imagen-central {
            place-self: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
        .imagen-descarga {
            place-self: center;
            img {
                max-width: 100%;
            }
        }
        @media(max-width: $breakpoint-md) {
            .texto-izquierdo {
                text-align: center;
            }
            .texto-derecho {
                text-align: center;
            }
        }
    }
    @media(max-width: $breakpoint-sm) {
        .imagen-descarga {
            place-self: center;
            img {
                max-width: 100%;
            }
        }
    }
}