/* section#app-movil {
    display: grid;
    gap: 10px 10px;
    grid-template-areas: "titulo-grande titulo-grande titulo-grande" "texto-izquierdo imagen-central texto-derecho" "imagen-descarga imagen-descarga imagen-descarga";
    background-image: url(../img/bg-degrade.png);
    padding-top: 20px;
    width: 100vw;
    .titulo-grande {
        grid-area: titulo-grande;
        text-align: center;
        margin-bottom: 20px;
    }
    .texto-izquierdo {
        grid-area: texto-izquierdo;
        text-align: right;
        align-self: center;
        justify-self: stretch;
        padding: 20px;
        margin-left: 200px;
        p {
            margin: 20px 0px 40px 40px;
        }
    }
    .imagen-central {
        grid-area: imagen-central;
        justify-self: center;
    }
    .texto-derecho {
        grid-area: texto-derecho;
        align-self: center;
        justify-self: stretch;
        padding: 20px;
        margin-right: 200px;
        p {
            margin: 20px 40px 40px 0px;
        }
    }
    .imagen-descarga {
        grid-area: imagen-descarga;
        justify-self: center;
    }
} */

main.main-app {
    background-image: url(../assets/img/background-patina.jpg);
    background-size: cover;
    .titulo-grande {
        text-align: center;
    }
    .imagen-descarga {
        text-align: center;
    }
    section#app-movil {
        display: grid;
        align-items: center;
        gap: 1rem;
        grid-auto-rows: auto;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        .texto-izquierdo {
            text-align: right;
        }
        .imagen-central {
            place-self: center;
            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}