section#contacto {
    background-image: url(../img/skate-img1.jpg);
    background-size: cover;
}

.contacto {
    display: grid;
    grid-template-columns: 1.4fr 1.4fr;
    grid-template-rows: 0.7fr 0.3fr 0.7fr 2.3fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 13px 19px;
    padding: 40px;
    margin: 0px 45px 0px 45px;
    .titulo-contacto {
        grid-area: 1 / 1 / 2 / 3;
        justify-self: center;
        text-align: center;
        padding-bottom: 20px;
        letter-spacing: 5px;
        h1 {
            margin-bottom: 20px;
        }
    }
    .name {
        grid-area: 2 / 1 / 3 / 2;
        justify-self: inherit;
        margin: 0px 0px 0px 250px;
        .form-contact-input {
            width: 100%;
            color: white;
            font-size: 18px;
            background-color: rgb(70, 70, 70);
            border: 1px solid rgb(70, 70, 70);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(70, 70, 70);
            border-left: 1px solid rgb(70, 70, 70);
            text-indent: 20px;
            font-family: "roboto";
        }
    }
    .email {
        grid-area: 2 / 2 / 3 / 3;
        justify-self: inherit;
        margin: 0px 250px 0px 0px;
        .form-contact-input {
            width: 100%;
            color: white;
            font-size: 18px;
            background-color: rgb(70, 70, 70);
            border: 1px solid rgb(70, 70, 70);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(70, 70, 70);
            border-left: 1px solid rgb(70, 70, 70);
            text-indent: 20px;
            font-family: "roboto";
        }
    }
    .asunto {
        grid-area: 3 / 1 / 4 / 3;
        justify-self: inherit;
        margin: 0px 250px;
        .form-contact-input {
            width: 100%;
            color: white;
            font-size: 18px;
            background-color: rgb(70, 70, 70);
            border: 1px solid rgb(70, 70, 70);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 40px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(70, 70, 70);
            border-left: 1px solid rgb(70, 70, 70);
            text-indent: 20px;
            font-family: "roboto";
        }
    }
    .escribe-aqui {
        grid-area: 4 / 1 / 5 / 3;
        justify-self: inherit;
        margin: 0px 250px;
        .form-contact-textarea {
            width: 100%;
            color: white;
            font-size: 18px;
            background-color: rgb(70, 70, 70);
            border: 1px solid rgb(70, 70, 70);
            -moz-border-radius: 5px;
            -webkit-border-radius: 5px;
            border-radius: 5px;
            height: 200px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgb(70, 70, 70);
            border-left: 1px solid rgb(70, 70, 70);
            text-indent: 20px;
            font-family: "roboto";
        }
    }
    .enviar {
        grid-area: 5 / 1 / 6 / 3;
        justify-self: center;
        font-family: "roboto";
        .button {
            background-color: $button-color;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            transition: all 2s;
            &:hover {
                background-color: $button-color-hover;
                transform: skewX(20deg);
            }
        }
    }
}