  .bajo-index {
      h2 {
          text-align: center;
          margin: 20px 0px;
      }
      .imagen-spot {
          max-width: 100%;
          height: auto;
          margin: 10px 25px 10px 25px;
      }
  }