section#nosotros {
    background-image: url(../img/patina-bg-website-v3.png);
    background-size: cover;
    .titulo-nosotros {
        margin: 25px;
        text-align: center;
        padding: 0px 200px 0px 200px;
        font-size: 22px;
        letter-spacing: 2px;
        h3 {
            padding-bottom: 25px;
            padding-top: 25px;
            letter-spacing: 2px;
        }
        h2 {
            padding: 25px 0px 25px 0px;
        }
    }
    .img-abajo {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 50px;
        padding: 50px;
        .box {
            display: grid;
            padding: 40px;
            font-size: 100%;
            justify-items: center;
            text-align: center;
            letter-spacing: 2px;
            img {
                padding: 40px;
            }
        }
        h3 {
            padding: 20px;
            letter-spacing: 3px;
        }
    }
}