section#spots {
    background-image: url(../img/patina-bg-website-v3.png);
    background-size: cover;
    .filtros {
        color: #FFFFFF;
        padding: 0px 60px;
        h5 {
            margin: 20px 0px 10px 0px;
        }
        h6 {
            margin: 20px 0px 10px 0px;
        }
        button {
            margin: 20px 0px;
        }
    }
    .order-container {
        padding: 20px;
    }
    .spot-item {
        display: inline-block;
        position: relative;
        max-width: 500px;
        width: 100%;
        background: #FFFFFF;
        border-radius: 20px;
        margin-bottom: 10px;
        .spot-content {
            position: relative;
            width: 100%;
            border: 1px solid rgba(0, 0, 0, 0.5);
            border-radius: 20px;
            .spot-img {
                display: flex;
                max-height: 330px;
                border-radius: 20px 100px;
                overflow: hidden;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                justify-content: center;
                align-items: center;
                .img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .spot-info {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding: 10px;
            box-sizing: border-box;
            color: black;
        }
    }
    @media(min-width: $breakpoint-md) {
        .spot-item {
            margin: 10px 10px
        }
    }
}